/* COLOUR PALETTE:
WHITE fffcf2
GREY 403d39
BLACK 252422
BLUE 294066 */

* {
    font-family: 'Helvetica', sans-serif;
}

#bio-wrapper {
    max-width: 1000px;

    /* Centre the layout. */
    margin: 0 auto;
    padding: 0 10px;
}