/* COLOUR PALETTE:
WHITE fffcf2
GREY 403d39
BLACK 252422
BLUE 294066 */

/*********************** test ***************************/

/* The grid: Three equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    padding: 50px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    color: white;
  }
  
  .containerTab {
    padding: 20px;
    color: white;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Closable button inside the image */
  .closebtn {
    float: right;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

/*********************** test ***************************/

* {
    /* Debugging */
    border: 1px solid transparent;
    box-sizing: border-box;
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Helvetica', sans-serif;
}

html {
    /* Set base font size for rem sizing. */
    font-size: 16px;

    /* Smooth scrolling! Yay for added satisfaction! */
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
}

header, main, footer, main div img, main div p {
    padding: .5rem;
}

/* Standardise image dimensions. */
.project-img {
    width: 550px;
    height: 400px;
    margin: 0 10px;
}

/* For responsive design, these rules apply for all sizes. (Mobile-friendly) */
#wrapper {
    display: grid;
    height: fit-content;
    /*height: 300vh;*/ /* 300% of viewport height */
    width: 100vw;
    grid-template-rows: 0fr 10fr 0fr;
    grid-template-areas: "bio"
                         "projects"
                         "contact";

    /* Resize along with screen until width of 1200px is reached. */
    max-width: 1200px;

    /* Centre the layout. */
    margin: 0 auto;

    margin-top: 50px;

}

#wrapper footer {
    margin: 0 0;
}

/* Adjust font properties as necessary. */
h1 {
    font-size: 2.5em;
    font-weight: 900;
}

h2 {
    font-weight: 900;
    font-size: 1.4em;
    line-height: 1px;
}

h1, h2, h3 {
    color: #293F65;
}

header h3 {
    font-size: 0.85em;
    margin: 40px 20px 0 0;
}

body {
    width: 100%;
    background-color: #fffcf2;
}

/* Dynamically resize image based on window width. */
.project-img {
    max-width: 100%;
    max-height: 100%;

    /* Centre project images. */
    display: block;
    margin: 0 auto;
}

/* Provide appropriate padding so elements line up with each other. */
div.project h2, div.project p {
    padding: 0px 20px;
}

#about, header h3{
    padding: 0 12px;
}

footer {
    background-color: black;
}

footer p {
    font-size: smaller;
    font-weight: bold;
}

footer small {
    color: #fffcf2;
}

/* Remove the underline. */
footer a {
    text-decoration: none;
}

/* Make the links match the overall colour scheme. */
a:link {
    color: #6e8ec4;
}

a:visited {
    color: #6e8ec4;
}

a:focus {
    color: #294066;
}

a:active {
    color: #294066;
}

/* ============================= NAVBAR ============================= */
/* Fix navigation bar to the top of the screen. */
#navigation, .navbar {
    position: fixed;
    height: 35px;
    display: flex;
    top: 0px;
    background-color: #252422;
    color: #6e8ec4;
}

/* Centre-align the navbar by leveraging flexbox. */
#navigation {
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
}

/* Make sure pipes used for layout spacing are the same size as actual navbar
 text. */
#navigation p {
    margin-top: 3px;
    font-size: xx-large;
}

/* Affects name in navbar. */
.navbar a {
    color: #6e8ec4;
    text-align: center;
    font-weight: bolder;
    padding: 8.5px 16px;

    /* Get rid of the underline. */
    text-decoration: none;
}

.navbar #resume-link {
    /* Remove bold formatting. */
    font-weight: normal;
}

/* Dropdown button */
.dropdown-button {
    /* Ensure sufficient space is allocated around. */
    padding: 8.5px 16px;

    /* Get rid of CSS defaults to match overall theme. */
    border: none;
    outline: none;
    font-size: inherit;
    color: inherit;
    background-color: inherit;
}

/* Change background colour on hover using an ease-in transition. */
.navbar .dropdown:hover .dropdown-button {
    transition: background-color 0.1s ease-in;
    background-color: #6e8ec4;

    /* Ensure text is legible. */
    /* But also add some snazz using a transition. */
    transition: background-color 0.1s ease-in;
    color: black;
}

.dropdown-content {
    /* Use ease-in transition for dropdown menu to match the results produced
    by the previous style rule. */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s ease-in;

    position: absolute;
    background-color: #6e8ec4;
    min-width: 100px;
}

/* Format dropdown content text. */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/* Make dropdown links grey when hovering over them */
.dropdown-content a:hover {
    transition: background-color 0.1s ease-in;
    background-color: #403D39;
    transition: color 0.1s ease-in;
    color:#FFFCF2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    opacity: 1;
}

.navbar, .dropdown-button, .dropdown-content, .navbar a {
    font-size: smaller;
    /* padding: 5px 5px 5px 5px; */
    /* padding-left: 5px;
    padding-right: 5px; */
}

.dropdown-content a {
    padding-left: 17px;
    padding-bottom: 10px;
}

#navigation p {
    font-size: medium;
    padding-top: 1px;
}

/* Resize navbar to be more desktop-friendly. */
@media screen and (min-width: 600px) {
    #wrapper {
        grid-template-rows: 0fr 10fr 0fr;
    }

    .navbar, .dropdown-button, .dropdown-content, .navbar a {
        font-size: large;
    }
    
    .dropdown-button {
        padding-top: 12px;
    }

    .navbar a {
        padding: 12px 16px;
    }

    .dropdown-content {
        min-width: 150px;
    }

    #navigation p {
        font-size: xx-large;
        margin-top: -3.5px;
    }

    .dropdown-content a {
        padding: 15px 15px 15px 15px;
        /* padding-left: 15px;
        padding-bottom: 30px; */
    }

    #navigation, .navbar {
        position: fixed;
        height: 50px;
        display: flex;
        top: 0px;
        background-color: #252422;
        color: #6e8ec4;
    }

    footer p {
        font-size: large;
        font-weight: bold;
    }
}

/* If the window gets large enough (computers, tablets, etc.) show the following
 layouts instead. (I'm so sorry this is such a long section - I really couldn't
 figure out how to condense it) */
@media screen and (min-width: 770px) {
    #wrapper {
        /*height: 200vh; /* 200% of viewport height */
        grid-template-rows: 250px 1fr 100px;
    }

    /* Layout the header area using a second grid. */
    header {
        grid-area: bio;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "pic-name-tagline about";
    }
    
    /* Style and position elements within the header element. */
    header img, header h1, header h2{
        display: flex;
        flex-flow: nowrap;
        grid-area: pic-name-tagline;
        padding: .5rem;
    }
    
    h1 {
        font-size: 2.0em;
    }
    
    h2 {
        font-size: 1.2em;
    }

    header h3 {
        font-size: 0.75em;
        grid-area: about;
        margin: 20px 20px 0 0;
    }
    
    #about {
        display: flex;
        flex-flow: nowrap;
        padding: 0 13px;
    }
    
    /* Layout the main section using third grid. */
    main {
        grid-area: projects;
        display: grid;
        /* grid-template-columns: 1fr 1fr; */
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas: "projects-1"
                             "projects-2"
                             "projects-3"
                             "projects-4";
                             /* Add more as needed. */
                             /* Edit the repeat function as well. */
    }
    
    footer {
        /* grid-area: contact;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "socials resume"; */
        padding: 0 28px;
    }
    
    #contact-info {
        grid-area: socials;
    }
    
    #resume {
        grid-area: resume;
        text-align: right;
    }
    
    .project {
        padding: 40px 0px;
    }

    /* ================ BEGIN SECTION FOR PROJECT ENTRIES ================ */
    /* =========== COPY UNTIL MARKED LINE TO ADD MORE PROJECTS =========== */
    /* Move the projects into their respective locations within the grid. */
    #proj-1 {
        grid-area: projects-1;

        /* Further subdivide to place thumbnails. */
        display: grid;
        grid-template-rows: 53% 5% 37% 5%;
        grid-template-areas: "project-1-gallery"
                             "project-1-title"
                             "project-1-description";
    }

    /* Move titles and links into their appropriate locations. */
    #project-1-title {
        grid-area: project-1-title;
    }

    #project-1-link {
        grid-area: project-1-link;
    }

    /* Split galleries up into further grids. */
    #project-1-gallery {
        grid-area: project-1-gallery;
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "proj-1-1 proj-1-2"
                             "proj-1-3 proj-1-4";
    }

    /* Move thumbnails into their correct positions. */
    #proj-1-1 {
        grid-area: proj-1-1;
    }
    
    #proj-1-2 {
        grid-area: proj-1-2;
    }

    #proj-1-3 {
        grid-area: proj-1-3;
    }

    #proj-1-4 {
        grid-area: proj-1-4;
    }

    /* Split descriptions up into two columns - 
    one for summary and the other for tools used. */
    #project-1-description {
        grid-area: project-1-description;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "project-1-summary project-1-tools";
    }

    #project-1-summary {
        grid-area: project-1-summary;
    }

    #project-1-tools {
        grid-area: project-1-tools;
    }
    /* ================= END SECTION FOR PROJECT ENTRIES ================= */
    /* ============== COPY UNTIL THIS LINE TO ADD A PROJECT ============== */

    /* ============================ Project 2 ============================ */
    #proj-2 {
        grid-area: projects-2;

        /* Further subdivide to place thumbnails. */
        display: grid;
        grid-template-rows: 53% 5% 37% 5%;
        grid-template-areas: "project-2-gallery"
                             "project-2-title"
                             "project-2-description"
                             "project-2-link";
    }

    #project-2-title {
        grid-area: project-2-title;
    }

    #project-2-link {
        grid-area: project-2-link;
    }

    #project-2-gallery {
        grid-area: project-2-gallery;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "proj-2-1 proj-2-2"
                             "proj-2-3 proj-2-4";
    }

    #project-2-description {
        grid-area: project-2-description;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "project-2-summary project-2-tools";
    }

    #proj-2-1 {
        grid-area: proj-2-1;
    }
    
    #proj-2-2 {
        grid-area: proj-2-2;
    }

    #proj-2-3 {
        grid-area: proj-2-3;
    }

    #proj-2-4 {
        grid-area: proj-2-4;
    }
    
    /* ============================ Project 3 ============================ */
    #proj-3 {
        grid-area: projects-3;

        /* Further subdivide to place thumbnails. */
        display: grid;
        grid-template-rows: 53% 5% 37% 5%;
        grid-template-areas: "project-3-gallery"
                             "project-3-title"
                             "project-3-description"
                             "project-3-link";
    }
    
    #project-3-title {
        grid-area: project-3-title;
    }

    #project-3-link {
        grid-area: project-3-link;
    }

    #project-3-gallery {
        grid-area: project-3-gallery;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "proj-3-1 proj-3-2"
                             "proj-3-3 proj-3-4";
    }

    #project-3-description {
        grid-area: project-3-description;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "project-3-summary project-3-tools";
    }

    #proj-3-1 {
        grid-area: proj-3-1;
    }
    
    #proj-3-2 {
        grid-area: proj-3-2;
    }

    #proj-3-3 {
        grid-area: proj-3-3;
    }

    #proj-3-4 {
        grid-area: proj-3-4;
    }

    /* ============================ Project 4 ============================ */
    #proj-4 {
        grid-area: projects-4;

        /* Further subdivide to place thumbnails. */
        display: grid;
        grid-template-rows: 53% 5% 37% 5%;
        grid-template-areas: "project-4-gallery"
                             "project-4-title"
                             "project-4-description"
                             "project-4-link";
    }

    #project-4-title {
        grid-area: project-4-title;
    }

    #project-4-link {
        grid-area: project-4-link;
    }

    #project-4-gallery {
        grid-area: project-4-gallery;

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "proj-4-1 proj-4-2"
                             "proj-4-3 proj-4-4";
    }
    
    #project-4-description {
        grid-area: project-4-description;
        
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "project-4-summary project-4-tools";
    }

    #proj-4-1 {
        grid-area: proj-4-1;
    }
    
    #proj-4-2 {
        grid-area: proj-4-2;
    }

    #proj-4-3 {
        grid-area: proj-4-3;
    }

    #proj-4-4 {
        grid-area: proj-4-4;
    }

    /* Pad tops of all project links. */
    .project-link {
        padding-top: 20px;
    }
}

/* These further media queries prevent the text from becoming too squished
    against edges. */
@media screen and (min-width: 830px) {
    h1 {
        font-size: 2.0em;
    }
    
    h2 {
        font-size: 1.2em;
    }

    #proj-1 {
        grid-template-rows: 58% 5% 32% 5%;
    }

    #proj-2 {
        grid-template-rows: 58% 5% 32% 5%;
    }

    #proj-3 {
        grid-template-rows: 58% 5% 32% 5%;
    }

    #proj-4 {
        grid-template-rows: 58% 5% 32% 5%;
    }
}

@media screen and (min-width: 900px) {
    h1 {
        font-size: 2.5em;
    }
    
    h2 {
        font-size: 1.4em;
    }
    
    header h3 {
        font-size: 0.85em;
        margin: 20px 20px 0 0;
    }

    #proj-1 {
        grid-template-rows: 62% 5% 28% 5%;
    }

    #proj-2 {
        grid-template-rows: 62% 5% 28% 5%;
    }

    #proj-3 {
        grid-template-rows: 62% 5% 28% 5%;
    }

    #proj-4 {
        grid-template-rows: 62% 5% 28% 5%;
    }
}

@media screen and (min-width: 1000px) {
    #proj-1 {
        grid-template-rows: 68% 5% 25% 5%;
    }

    #proj-2 {
        grid-template-rows: 68% 5% 25% 5%;
    }

    #proj-3 {
        grid-template-rows: 68% 5% 25% 5%;
    }

    #proj-4 {
        grid-template-rows: 68% 5% 25% 5%;
    }
}

@media screen and (min-width: 1150px) {
    #proj-1 {
        grid-template-rows: 70% 5% 20% 5%;
    }

    #proj-2 {
        grid-template-rows: 70% 5% 20% 5%;
    }

    #proj-3 {
        grid-template-rows: 70% 5% 20% 5%;
    }

    #proj-4 {
        grid-template-rows: 70% 5% 20% 5%;
    }
}